<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="General-store Suite">
    <listeners>
        <listener class-name="ReportsNG.ListenerNG"/>

    </listeners>
    <test verbose="2" preserve-order="true" name="Tests">
        <classes>
            <class name="TestCases.EndToEndScenarioTest">
                <methods>
                <include name="FillForm"/>
                <include name="Products"/>
                    <include name="Cart"/>
                    <include name="HYBRID"/>


        </methods>
        </class>
        </classes>
    </test>
</suite>